<div class="card" [@routerTransition]>
    <div class="body" id="forgotWrapper">

        <form novalidate autocomplete="off" #forgotPasswordForm="ngForm"
            (keyup.enter)="forgotPasswordForm.form.valid && forgotPassword()">
            <div class="logo">
                <a href="javascript:void(0);"><img alt="logo" class="logo"  src='../../assets/images/elog/gx-logo.png'></a>
            </div>
            <div class="row clearfix">
                <div class="col-xs-12 login-margin">
                    <div class="input-group">
                        <span class="input-group-addon remove-login-icon-padding">
                            <i class="material-icons">person</i>
                        </span>
                        <div>
                            <mat-form-field hideRequiredMarker class="add-leftpadding">
                                <input matInput name="employeeCode" [(ngModel)]=" model.employeeCode " [placeholder]="'User Name' | localize" autocomplete="off" required maxlength="255"
                                    [readonly]="isReadOnly" (focus)="isReadOnly=false" />
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="pull-right button-width">
                    <button (click)=" Close()" type="button" class="btn btn-lg btn-forgotpassword ">
                        {{ "Close" | localize }}
                    </button>

                </div>
                <div class="pull-right button-width">
                    <button (click)="forgotPasswordForm.form.valid && forgotPassword()" type="button"
                        class="btn btn-lg btn-forgotpassword"
                        [disabled]="(!forgotPasswordForm.form.valid || submitting) || isSubmit==true">
                        {{ "Submit" | localize }}
                    </button>

                </div>

            </div>

            <div class="row">
                <div class="div-center">
                  <br>  <!-- <a href="javascript:void(0);"><img alt="logo" class="branding-logo"
                            src="./assets/images/pharmision.jpg"></a> -->
                </div>
            </div>
            <div class="build-version">
                Version : {{buildVersion}}
            </div>

        </form>
    </div>
</div>