<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ "Password Management" | localize }}</h2>
                </div>
            </div>
            <form class="row clearfix row-filter-container">
                <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                    <div class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle span-filter" (click)="isFilterOpen=!isFilterOpen">
                            <i class="material-icons span-filter-icon">
                                filter_alt
                            </i>
                            <h5 class="span-filter-text">Filter</h5>
                        </span>
                        <div class="dropdown-menu user-filter-container remove-filter-padding"
                             [ngClass]="{'display-nav-block':isFilterOpen}">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <mat-form-field>
                                        <mat-label>Select Employee Code</mat-label>
                                        <mat-select [(ngModel)]="userName" name="userName">
                                            <mat-option>Select Employee Code</mat-option>
                                            <mat-option *ngFor="let user of usersInfo" [value]="user.userId">
                                                {{user.userName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <mat-form-field>
                                        <mat-label>Select First Name</mat-label>
                                        <mat-select [(ngModel)]="firstName" name="firstName">
                                            <mat-option>Select First Name</mat-option>
                                            <mat-option *ngFor="let user of firstNameList " [value]="user">
                                                {{user}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <mat-form-field>
                                        <mat-label>Select Last Name</mat-label>
                                        <mat-select [(ngModel)]="lastName" name="lastName">
                                            <mat-option>Select Last Name</mat-option>
                                            <mat-option *ngFor="let user of usersInfo" [value]="user.lastName">
                                                {{user.lastName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                           
                            <div class="row">

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                                    <mat-form-field>
                                        <mat-label>Select Sort By</mat-label>
                                        <mat-select [(ngModel)]="sortBy" name="sortBy">
                                            <mat-option>Select Sort By</mat-option>
                                            <mat-option *ngFor="let userSort of userSortBy" [value]="userSort.id">
                                                {{userSort.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                                    <mat-form-field>
                                        <mat-label>Asc</mat-label>
                                        <mat-select [(ngModel)]="sortByOrder" name="sortByOrder"
                                                    [disabled]="sortBy==null">
                                            <mat-option>Asc</mat-option>
                                            <mat-option [value]=2>Desc</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 apply-margin">
                                    <div class="form-group">
                                        <button type="button" (click)="ApplySearch()"
                                                class="btn btn-primary">
                                            Apply
                                        </button>
                                        <button type="button" (click)="ClearSearch()"
                                                class="btn filter-clear-button">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                    <mat-form-field class="search-container">
                        <mat-icon matPrefix>search</mat-icon>

                        <mat-label>Search</mat-label>
                        <input matInput #searchTextBox name="keyword" [(ngModel)]="keyword" value=""
                               placeholder="Search" (focus)="onFocusOfSearchBox($event)">
                    </mat-form-field>
                </div>
               
            </form>
            <div class="row clearfix row-filter-container">
                <div class="col-12 filter-by-string filter-font" *ngIf="filterBy && !isFilterOpen">Filter By : {{filterBy}}</div>
            </div>
            <div class="body table-responsive" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                 (scrolled)="onScroll()" [scrollWindow]="false" [ngClass]="{'table-scroll':requestedUsers?.length != 0}">
                <table class="table table-hover table-striped table-sm table-bordered">
                    <thead>
                        <tr>
                            <th class="th-center-align">{{ "Employee Code" | localize }}</th>
                            <th class="th-center-align">{{ "First Name" | localize }}</th>
                            <th class="th-center-align">{{ "Last Name" | localize }}</th>
                            <th class="th-center-align">{{ "Request" | localize }}</th>

                            <th class="th-center-align">{{ "Status" | localize }}</th>
                            <th class="th-center-align">{{ "Action" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of requestedUsers" (tap)="onSelect($event,user)">
                            <td class="td-center-align add-wrap">{{user.userName}}</td>
                            <td class="td-center-align add-wrap">
                                {{user.firstName}}
                            </td>
                            <td class="td-center-align add-wrap">{{user.lastName}}</td>
                            <td class="td-center-align add-wrap">{{user.request}}</td>
                            <td class="td-center-align add-wrap">{{user.status}}</td>
                           
                            <td class="td-center-align remove-td-padding">

                                <i matTooltip="Reset Password" (click)="GoToViewUser(user)"
                                   class="material-icons material-icon-action"
                                   *ngIf="isPermissionGranted('Password.Edit')">visibility</i>
                               
                            </td>
                        </tr>
                        <tr *ngIf="requestedUsers?.length == 0">
                            <td colspan="6" class="no-data-available">No data to display.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


