<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ "Quality Confirmation" | localize }}</h2>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse in dark-text">
                        <div class="panel-body">
                            <form novalidate autocomplete="off" [formGroup]="addEditFormGroup"
                                #addEditUserForm="ngForm">
                                <div class="row fieldes">
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-label>Plant Code</mat-label>
                                            <mat-select [(ngModel)]="plantCode" name="plantId"
                                                [errorStateMatcher]="matcher" formControlName="plantCodeFormControl"
                                                (ngModelChange)="getPackingorderNo($event)"
                                                >
                                                <mat-option>Select Plant</mat-option>
                                                <mat-option *ngFor="let plant of plnaCodeList" [value]="plant.id">
                                                    {{plant.value}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="addEditFormGroup?.get('plantCodeFormControl')?.hasError('required') || addEditFormGroup?.get('plantCodeFormControl')?.hasError('whitespace')">
                                                Plant Code is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-label>Packing Order No.</mat-label>
                                            <mat-select [(ngModel)]="packingOrder" [errorStateMatcher]="matcher"
                                                name="packingOrder" formControlName="packingOrderFormControl"
                                                (ngModelChange)="getDetails($event, plantCode)">
                                                <mat-option [value]="0">Select Packing Order</mat-option>
                                                <mat-option *ngFor="let packing of packingOrderList"
                                                    [value]="packing.id">
                                                    {{packing.value}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="addEditFormGroup?.get('packingOrderFormControl')?.hasError('required') || addEditFormGroup?.get('packingOrderFormControl')?.hasError('whitespace')">
                                                Packing Order Number is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <div class="body table-responsive">
                                <table id="excel-table" class="table table-hover table-striped table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="th-center-align">{{ "Select All" | localize }}</th>
                                            <th class="th-center-align">{{ "Plant Code" | localize }}</th>
                                            <th class="th-center-align">{{ "BarCode" | localize }}</th>
                                            <th class="th-center-align">{{ "Item Code" | localize }}</th>
                                            <th class="th-center-align">{{ "Loc." | localize }}</th>
                                            <th class="th-center-align">{{ "Batch Code" | localize }}</th>
                                            <th class="th-center-align">{{ "OK Qty." | localize }}</th>
                                            <th class="th-center-align">{{ "NG Qty." | localize }}</th>
                                            <th class="th-center-align">{{ "Packed Qty." | localize }}</th>
                                            <th class="th-center-align">{{ "QC Date" | localize }}</th>
                                            <th class="th-center-align">{{ "Line Code" | localize }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let  obj of dataSource.filteredData;" >
                                            <td class="td-center-align">
                                                <mat-checkbox [(ngModel)]="obj.checkBoxValue"></mat-checkbox>
                                                <!-- <p *ngIf="!isAtLeastOneCheckboxSelected()">Select at least one checkbox</p> -->
                                            </td>
                                           
                                            <td class="td-center-align">{{obj.plantCode}}</td>
                                            <td class="td-center-align">{{obj.childBarcode}}</td>
                                            <td class="td-center-align">{{obj.materialCode}}</td>
                                            <td class="td-center-align">{{obj.strLocCode}}</td>
                                            <td class="td-center-align">{{obj.batchCode}}</td>
                                            <td class="td-center-align">{{obj.okQty}}</td>
                                            <td class="td-center-align">{{obj.ngQty}}</td>
                                            <td class="td-center-align">{{obj.packedQty}}</td>
                                            <td class="td-center-align">{{obj.qcDate | date:'MM/dd/yyyy'}}</td>
                                            <td class="td-center-align">{{obj.lineNo}}</td>
                                        </tr>
                                        <tr *ngIf="dataSource.filteredData?.length == 0">
                                            <td colspan="10" class="no-data-available">No data to display.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="addEditFormGroup.hasError('noCheckboxSelected', 'checkBoxes')" class="error-message">
                                    At least one checkbox must be selected.
                                  </div>
                            </div>
                            <mat-paginator [length]="totalSize" [pageSize]="pageSize"
                                [pageSizeOptions]="[10, 20, 30, 40]" aria-label="Select page"
                                (page)="pageEvent = handlePage($event)">
                            </mat-paginator>
                            <div class="row pull-right">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary  margin-right-2px"
                                      [disabled]="!isAtLeastOneCheckboxSelected()" (click)="markDirty() && addEditFormGroup.valid && Save()">
                                        Save
                                    </button>
                                    <button class="btn filter-back-button" (click)="Clear()">
                                        Clear
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>