<!-- <div class="legal">
    <div class="copyright">
        &copy; {{currentYear}} <a href="javascript:void(0);">ELog</a>.
    </div>
    <div class="version">
        <b>Version </b> {{versionText}}
    </div>
</div> -->
<div class="legal">
    <div   (click)="logout()" class="logout_footer_sidebar">
        <i class="fa fa-power-off"></i>
            &nbsp; <b>Logout</b>
    </div>
    <!-- <div class="logo">
        <a href="javascript:void(0);"><img alt="logo" class="navbar-brand logo-wrapper leftNav-branding-logo" src="./assets/images/pharmision_1.png"></a>
    </div>     -->
    
    <div style="margin-top: 25px; font-size: 9px;">
        Version : {{buildVersion}}
    </div>    
</div>
