<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ "Zonal Approval(Revalidation)" | localize }}</h2>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse in dark-text">
                        <div class="panel-body">
                            
                            <br>
                            <div class="body table-responsive">
                                <table id="excel-table" class="table table-hover table-striped table-sm table-bordered">
                                    <thead>
                                        <tr>
                                             <th class="th-center-align">{{ "Dealer Code" | localize }}</th>
                                            <th class="th-center-align">{{ "Item Code" | localize }}</th>
                                            <th class="th-center-align">{{ "Quantity" | localize }}</th>
                                            <th class="th-center-align">{{ "Action" | localize }}</th>
                                           </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let approvalData of dataSource.filteredData">
                                        <tr *ngFor="let approvalData of dataSource.filteredData">
                                            <td class="td-center-align">{{approvalData.dealarCode}}</td>
                                            <td class="td-center-align">{{approvalData.materialCode}}</td>
                                            <td class="td-center-align">{{approvalData.qty}}</td>
                                            <td class="td-center-align remove-td-padding">
                                                <i matTooltip="View" (click)="GoToView(approvalData.dealarCode,approvalData.materialCode)"
                                                    class="material-icons material-icon-action"
                                                >visibility</i>
                                            </td>
                                         </tr>
                                        <tr *ngIf="dataSource.filteredData?.length == 0">
                                            <td colspan="6" class="no-data-available">No data to display.</td>
                                        </tr>
                                    </tbody>
                                  </table>
                                  <mat-paginator [length]="totalSize" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]"
                                  aria-label="Select page" (page)="pageEvent = handlePage($event)">
                              </mat-paginator>
                                 </div>
                            <div class="row fieldes">
                                
                            </div>
                           <div class="row">
                                <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                </div>
                                <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <button class="btn filter-back-button pull-right"
                                            (click)="Clear()">
                                        Clear
                                    </button>
                                   </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>