<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ "Packing Order Master" | localize }}</h2>
                </div>
            </div>
            <div class="pull-right1">
                <form class="row">
                    <div class="col-md-3">
                      <mat-form-field class="search-container">
                          <mat-icon matPrefix>search</mat-icon>
  
                          <mat-label>Search</mat-label>
                          <input matInput #searchTextBox name="keyword" [(ngModel)]="keyword" value=""
                              placeholder="Search" (focus)="onFocusOfSearchBox($event)">
                      </mat-form-field>
                  </div>
                  <div class="alignRight col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="add-button-container">
                          <!-- <i class="material-icons add-circle-icon" (click)="addCustomer()"
                              >add_circle</i> -->
                          <button type="button" (click)="addCustomer()" class="btn add-circle-button"
                            >
                            <i class="material-icons-outlined">add_circle_outline</i>
                              Add
                          </button>
                      </div>
                  </div>
              </form>
            </div>
          
            <div class="row clearfix row-filter-container">
                <div class="col-12 filter-by-string filter-font" *ngIf="filterBy && !isFilterOpen">Filter By :
                    {{filterBy}}</div>
            </div>
            <div class="body mh500 tabelScroll table-responsive" infiniteScroll [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
                [ngClass]="{'table-scroll':users?.length != 0}">
                <table class="table table-hover table-striped table-sm table-bordered">
                    <thead>
                        <tr>
                            <th class="th-center-align">{{ "Plant Code" | localize }}</th>
                            <th class="th-center-align">{{ "Packing Order No" | localize }}</th>
                            <th class="th-center-align">{{ "Finish Item Code" | localize }}</th>
                            <th class="th-center-align">{{ "Quality" | localize }}</th>
                            <th class="th-center-align">{{ "Storage Location" | localize }}</th>
                            <th class="th-center-align">{{ "Packing date" | localize }}</th>
                            <th class="th-center-align">{{ "Work Center" | localize }}</th>
                            <th class="th-center-align">{{ "Bom" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers" (tap)="onSelect($event,customer)">
                            <td class="td-center-align add-wrap">{{customer.code}}</td>
                            <td class="td-center-align add-wrap">{{customer.name}}</td>
                            <td class="td-center-align add-wrap">{{customer.address}}</td>
                            <td class="td-center-align add-wrap"> {{customer.city}}</td>
                            <td class="td-center-align add-wrap">{{customer.district}}</td>\
                            <td class="td-center-align add-wrap">{{customer.address}}</td>
                            <td class="td-center-align add-wrap"> {{customer.city}}</td>
                            <td class="td-center-align add-wrap">{{customer.district}}</td>
                            <!-- <td class="td-center-align">
                                <span class="material-icons-outlined active-icon-green"
                                    *ngIf="customer.isActive">check_circle_outline</span>
                                <span class="material-icons-outlined inactive-icon-red"
                                    *ngIf="!customer.isActive">do_disturb_on</span>
                            </td> -->
                            <!-- <td class="td-center-align remove-td-padding">

                                <i matTooltip="View Customer" (click)="GoToViewUser(customer)"
                                    class="material-icons material-icon-action"
                                   >visibility</i>
                                <i matTooltip="Delete Customer" class="material-icons material-icon-action deleteUser"
                                    (tap)="delete(customer)" (click)="delete(customer)"
                                    >delete</i>
                            </td> -->
                        </tr>
                        <tr *ngIf="customers?.length == 0">
                            <td colspan="8" class="no-data-available">No data to display.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>