<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h3 class="title" *ngIf="!isProfileView">
                        {{isOnlyView?'View':userId}}

                    </h3>
                    <h2 class="title">{{ "View" | localize }}</h2>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse in dark-text">
                        <div class="panel-body">
                            
                            <br>
                            <div class="body table-responsive">
                                <table id="excel-table" class="table table-hover table-striped table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="th-center-align">{{ "Select All" | localize }}</th>
                                             <th class="th-center-align">{{ "Shiper Code" | localize }}</th>
                                             <th class="th-center-align">{{ "Item Barcode" | localize }}</th>
                                             <th class="th-center-align">{{ "Item Code" | localize }}</th>
                                             <th class="th-center-align">{{ "MFG. Date" | localize }}</th>
                                           </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let  approvalData of dataSource.filteredData" >
                                            <td class="td-center-align">
                                                <mat-checkbox [(ngModel)]="approvalData.checkBoxValue"></mat-checkbox>
                                                <!-- <p *ngIf="!isAtLeastOneCheckboxSelected()">Select at least one checkbox</p> -->
                                            </td>
                                            <td class="td-center-align">{{approvalData.parentBarcode}}</td>
                                            <td class="td-center-align">{{approvalData.childBarcode}}</td>
                                            <td class="td-center-align">{{approvalData.materialCode}}</td>
                                            <td class="td-center-align">{{approvalData.packingDate | date:'dd-MM-yyyy'}}</td>
                                         </tr>
                                         <tr *ngIf="dataSource.filteredData?.length == 0">
                                            <td colspan="6" class="no-data-available">No data to display.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <mat-paginator [length]="totalSize" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]" aria-label="Select page"
                                    (page)="pageEvent = handlePage($event)">
                                </mat-paginator>
                                 </div>
                            <div class="row fieldes">
                                
                            </div>
                            <div class="row pull-right">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary  margin-right-2px"
                                      [disabled]="!isAtLeastOneCheckboxSelected()" (click)="Confirm()">
                                        Confirm
                                    </button>
                                    <button class="btn filter-back-button" (click)="Clear()">
                                        Clear
                                    </button>
                                    <button class="btn back-btn pull-right"
                                            (click)="goBack()"> Back</button>
                                            
                                </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>