<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                    <h3 class="title" *ngIf="!isProfileView">
                        {{isOnlyView?'User Details':userId?'Edit User':'Add User'}}

                    </h3>
                    <h3 class="title" *ngIf="isProfileView">
                        {{isOnlyView?'User Profile Details':userId ?'Edit User Profile':'Add User'}}
                    </h3>
                </div>
                <div class="alignRight col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h3 class="pull-right" *ngIf="isOnlyView && !isProfileView && userId">
                        <i class="material-icons edit-icon  pull-right"  (click)="GoToAddEditUser(userId)">note_alt</i>
                        <button type="button" (click)="GoToAddEditUser(userId)" class="btn add-circle-button  pull-right">Edit</button>
                    </h3>
                    <!-- <h3 class="pull-right" *ngIf="isOnlyView && userId && isProfileView">
                        <i class="material-icons edit-icon" (click)="GoToAddEditUser(userId)">note_alt</i>
                        <button type="button" (click)="GoToAddEditUser(userId)" class="btn add-circle-button">Edit</button>
                    </h3> -->
                </div>
                
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    
                    <div id="collapse1" class="panel-collapse collapse in dark-text">
                        <div class="panel-body">

                            <div class="panel-group" id="accordion2">
                                <div class="panel panel-default">
                                    <div class="panel-heading gray-panel-header">
                                        <h4 class="panel-title dark-text">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2">Details</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse in dark-text">
                                        <div class="panel-body">
                                            <form novalidate autocomplete="off" [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                                <div class="row fieldes">
                                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                                                        <mat-form-field>
                                                            <mat-label>First Name </mat-label>
                                                            <input matInput required name="firstName" maxlength="64"
                                                                   formControlName="firstNameFormControl" [errorStateMatcher]="matcher"
                                                                   [(ngModel)]="user.firstName">

                                                            <mat-error *ngIf="addEditFormGroup?.get('firstNameFormControl')?.hasError('required') || addEditFormGroup?.get('firstNameFormControl')?.hasError('whitespace')">
                                                                First name is required.
                                                            </mat-error>
                                                            <mat-error *ngIf="addEditFormGroup?.get('firstNameFormControl')?.hasError('maxlength')">
                                                                First name maximum length exceeded.
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                                                        <mat-form-field>
                                                            <mat-label>Last Name</mat-label>
                                                            <input matInput required name="lastName" maxlength="64"
                                                                   formControlName="lastNameFormControl" [errorStateMatcher]="matcher"
                                                                   [(ngModel)]="user.lastName">
                                                            <mat-error *ngIf="addEditFormGroup?.get('lastNameFormControl')?.hasError('required') || addEditFormGroup?.get('lastNameFormControl')?.hasError('whitespace')">
                                                                Last name is required.
                                                            </mat-error>
                                                            <mat-error *ngIf="addEditFormGroup?.get('lastNameFormControl')?.hasError('maxlength')">
                                                                Last name maximum length exceeded.
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <!--         <div class="row">
                                                  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                                                    <mat-form-field>
                                                      <mat-label>Phone Number</mat-label>
                                                      <input matInput prefix="+91 " mask="0000000000" formControlName="phoneNumberFormControl"
                                                        name="phoneNumber" [(ngModel)]="user.phoneNumber">
                                                      <mat-hint *ngIf="!isOnlyView">Only digits are allowed, Should not exceed 10 digits.
                                                      </mat-hint>
                                                      <mat-error *ngIf="addEditFormGroup?.get('phoneNumberFormControl')?.hasError('pattern')">
                                                        Phone number is not valid.
                                                      </mat-error>
                                                    </mat-form-field>
                                                  </div>

                                                </div>-->
                                                <div class="row fieldes">
                                                    <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                                        <mat-form-field>
                                                            <mat-label>User Name</mat-label>
                                                            <input type="text" [readonly]="isReadOnly" (focus)="isReadOnly=false" matInput required
                                                                   maxlength="256" formControlName="userNameFormControl" [errorStateMatcher]="matcher"
                                                                   name="userName" [(ngModel)]="user.userName">

                                                            <mat-error *ngIf="addEditFormGroup?.get('userNameFormControl')?.hasError('required')
                          || addEditFormGroup?.get('userNameFormControl')?.hasError('whitespace')">
                                                                User Name is required.
                                                            </mat-error>
                                                            <mat-error *ngIf="addEditFormGroup?.get('userNameFormControl')?.hasError('maxlength')">
                                                                User Name maximum length exceeded.
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <!--   <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                                                      <mat-form-field>
                                                        <mat-label>Select Designation</mat-label>
                                                        <mat-select [(ngModel)]="user.designationId" formControlName="designationFormControl"
                                                          name="designationId">
                                                          <mat-option>Select Designation</mat-option>
                                                          <mat-option *ngFor="let userDesignation of userDesignations"
                                                            [value]="userDesignation.id">
                                                            {{userDesignation.value}}
                                                          </mat-option>
                                                        </mat-select>
                                                      </mat-form-field>
                                                    </div>-->
                                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                                                        <mat-form-field>
                                                            <mat-label>Select Department</mat-label>
                                                            <mat-select required [(ngModel)]="user.modeId" [errorStateMatcher]="matcher"
                                                                        formControlName="modesFormControl" name="modeId">
                                                                <mat-option>Select Department</mat-option>
                                                                <mat-option *ngFor="let userMode of userModes" [value]="userMode.id">
                                                                    {{userMode.value}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="addEditFormGroup?.get('modesFormControl')?.hasError('required')">
                                                                Department is required.
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <!--         <div class="row">
                                                           <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                                             <mat-form-field>
                                                               <mat-label>Select Sub Plant</mat-label>
                                                               <mat-select [(ngModel)]="selectedPlants" placeholder="Select Sub Plant"
                                                                 formControlName="plantFormControl" multiple disableRipple>
                                                                 <mat-option *ngFor="let plant of plantMasters" [value]="plant.id">
                                                                   {{plant.value}}
                                                                 </mat-option>
                                                               </mat-select>
                                                             </mat-form-field>
                                                           </div>
                                                           <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                                             <mat-form-field>
                                                               <mat-label>Select Reporting Manager</mat-label>
                                                               <mat-select [(ngModel)]="user.reportingManagerId"
                                                                 formControlName="reportingManagerFormControl" name="reportingManagerId">
                                                                 <mat-option>Select Reporting Manager</mat-option>
                                                                 <mat-option *ngFor="let manager of reportingManagers" [value]="manager.id">
                                                                   {{manager.value}}
                                                                 </mat-option>
                                                               </mat-select>
                                                             </mat-form-field>
                                                           </div>
                                                         </div>-->
                                                <div class="row fieldes">

                                                    <!--            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                                                  <mat-form-field >
                                                                    <mat-label>Email</mat-label>
                                                                    <input [readonly]="isReadOnly" (focus)="isReadOnly=false" matInput
                                                                      maxlength="256" formControlName="emailFormControl" [errorStateMatcher]="matcher"
                                                                      name="email" [(ngModel)]="user.email">
                                                                    <mat-error
                                                                      *ngIf="addEditFormGroup?.get('emailFormControl')?.hasError('email') && !addEditFormGroup?.get('emailFormControl')?.hasError('required')">
                                                                      Please enter a valid email address.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="addEditFormGroup?.get('emailFormControl')?.hasError('required')">
                                                                      Email is required.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="addEditFormGroup?.get('emailFormControl')?.hasError('maxlength')">
                                                                      Email maximum length exceeded.
                                                                    </mat-error>
                                                                  </mat-form-field>


                                                                </div>-->
                                                </div>
                                                <div class="row fieldes" formGroupName="passwordMatchGroup">
                                                    <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12" [hidden]="userId">
                                                        <mat-form-field>
                                                            <mat-label>Password</mat-label>
                                                            <input [type]="hidePassword ? 'password' : 'text'" maxlength="32" required
                                                                   formControlName="passwordFormControl" [errorStateMatcher]="matcher" matInput
                                                                   name="password" [(ngModel)]="user.password">
                                                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                            </button>
                                                            <mat-hint *ngIf="!isOnlyView">Must contain at least 8 characters , one uppercase letter, one lowercase letter and a special character.</mat-hint>
                                                            <mat-error *ngIf="addEditFormGroup?.get('passwordMatchGroup')?.controls?.passwordFormControl?.hasError('required')
                          || addEditFormGroup?.get('passwordMatchGroup')?.controls?.passwordFormControl?.hasError('whitespace')">
                                                                Password is required.
                                                            </mat-error>
                                                            <mat-error *ngIf="addEditFormGroup?.get('passwordMatchGroup')?.controls?.passwordFormControl?.hasError('maxlength')">
                                                                Password maximum length exceeded.
                                                            </mat-error>
                                                            <mat-error *ngIf="addEditFormGroup?.get('passwordMatchGroup')?.controls?.passwordFormControl?.hasError('pattern')">
                                                                Please enter valid password. Must contain at least 8 characters , one uppercase letter, one lowercase letter and a special character.
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12" [hidden]="userId">
                                                        <mat-form-field>
                                                            <mat-label>Confirm Password</mat-label>
                                                            <input [type]="hideConfirmPassword ? 'password' : 'text'" maxlength="32"
                                                                   formControlName="confirmPasswordFormControl" [errorStateMatcher]="matcher" matInput
                                                                   required name="confirmPassword" [(ngModel)]="user.confirmPassword">
                                                            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                                                                    [attr.aria-label]="'Hide Confirm password'" [attr.aria-pressed]="hideConfirmPassword">
                                                                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                            </button>
                                                            <mat-hint *ngIf="!isOnlyView">Password and Confirm password should match.</mat-hint>

                                                            <mat-error *ngIf="addEditFormGroup?.get('passwordMatchGroup')?.controls?.confirmPasswordFormControl?.hasError('required')
                          || addEditFormGroup?.get('passwordMatchGroup')?.controls?.confirmPasswordFormControl?.hasError('whitespace')">
                                                                Confirm password is required.
                                                            </mat-error>
                                                            <mat-error *ngIf="addEditFormGroup?.get('passwordMatchGroup')?.controls?.confirmPasswordFormControl?.hasError('mismatch')
                          && !addEditFormGroup?.get('passwordMatchGroup')?.controls?.confirmPasswordFormControl?.hasError('required')
                          && !addEditFormGroup?.get('passwordMatchGroup')?.controls?.confirmPasswordFormControl?.hasError('whitespace')">
                                                                Password and Confirm password should match.
                                                            </mat-error>
                                                            <mat-error *ngIf="addEditFormGroup?.get('passwordMatchGroup')?.controls?.confirmPasswordFormControl?.hasError('maxlength')">
                                                                Confirm password maximum length exceeded.
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row fieldes">

                                                    <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12 is-active-mt">

                                                        <mat-checkbox formControlName="isActiveFormControl" name="isActive"
                                                                      [(ngModel)]="user.isActive">
                                                            Is Active
                                                        </mat-checkbox>
                                                    </div>
                                                    <!-- <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngIf="userId>0">
                                                      <mat-form-field>
                                                        <mat-label>Approval Status</mat-label>
                                                        <input matInput name="approvalStatus" formControlName="approvalStatusFormControl"
                                                          [(ngModel)]="user.userEnteredApprovalStatus">
                                                      </mat-form-field>
                                                    </div> -->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-group" id="accordion3">
                                <div class="panel panel-default">
                                    <div class="panel-heading gray-panel-header">
                                        <h4 class="panel-title dark-text">
                                            <a data-toggle="collapse" data-parent="#accordion3" href="#collapse3">Role</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse in dark-text">
                                        <div class="panel-body">

                                            <section class="example-section">
                                                <span class="example-list-section">
                                                    <mat-checkbox [disabled]="isOnlyView || isProfileView" class="example-margin" [checked]="allSelected"
                                                                  [color]="'warn'" (change)="setAll($event.checked)">
                                                        {{UserRoles.displayName}}
                                                    </mat-checkbox>
                                                </span>
                                                <span class="example-list-section">
                                                    <ul>
                                                        <div class="row">
                                                        <li *ngFor="let role of UserRoles.userRoles">
                                                            <div class="col-md-4 col-sm-6 col-12">
                                                                <mat-checkbox [disabled]="isOnlyView || isProfileView" [(ngModel)]="role.isSelected" [color]="'warn'"
                                                                              (ngModelChange)="updateAllSelected()">
                                                                    {{role.displayName}}
                                                                </mat-checkbox>
                                                            </div>
                                                        </li>
                                        </div>
                                        </ul>
                                        </span>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                            </div>
                            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngIf="isOnlyView && !isProfileView">
                                <mat-form-field *ngIf="isOnlyView && user.isApprovalRequired && isPermissionGranted('User.Approver')">
                                    <mat-label>Approval/Reject Description</mat-label>

                                    <textarea matInput name="Approval/Reject Description" [(ngModel)]="user.approvalStatusDescription"
                                              maxlength="5000" (focus)="this.isdescriptionValid=true;"></textarea>
                                </mat-form-field>
                                <div class="mat-error approve-description-error" *ngIf="!isdescriptionValid">
                                    Rejection reason is required.
                                </div>
                                <button class="btn filter-back-button pull-right" *ngIf="isOnlyView"
                                        (click)="GoToUsersListFromView()">
                                    Back
                                </button>
                                <button class="btn btn-danger approve-reject-button filter-back-button pull-right"
                                        *ngIf="isOnlyView && user.isApprovalRequired && isPermissionGranted('User.Approver')  && user.userEnteredApprovalStatus!='Rejected'"
                                        (click)="RejectUser()">
                                    Reject
                                </button>
                                <button class="btn btn-success approve-reject-button filter-back-button pull-right"
                                        *ngIf="isOnlyView && user.isApprovalRequired && isPermissionGranted('User.Approver') && user.userEnteredApprovalStatus!='Approved'"
                                        (click)="ApproveUser()">
                                    Approve
                                </button>
                            </div>
                            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngIf="isOnlyView && isProfileView">
                                <button class="btn filter-back-button pull-right" *ngIf="isOnlyView"
                                        (click)="GoToUsersListFromView()">
                                    Close
                                </button>

                            </div>
                            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngIf="!isOnlyView">
                                <button class="btn filter-back-button pull-right" *ngIf="!userId"
                                        (click)="GoToUsersListFromAdd()">
                                    Cancel
                                </button>
                                <button class="btn filter-back-button pull-right" *ngIf="!isOnlyView && userId"
                                        (click)="GoToUsersListFromEdit()">
                                    Cancel
                                </button>

                                <button class="btn btn-primary pull-right" *ngIf="!userId"
                                        (click)="markDirty() && addEditFormGroup.valid && AddUser()">
                                    Add
                                </button>
                                <button class="btn btn-primary pull-right" *ngIf="!isOnlyView && userId"
                                        (click)="markDirty() && addEditFormGroup.valid && SaveUser()">
                                    Save
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>