<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ "Serial Barcode Generation" | localize }}</h2>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse in dark-text">
                        <div class="panel-body">
                            <form novalidate autocomplete="off" [formGroup]="addEditFormGroup"
                                #addEditUserForm="ngForm">
                                <div class="row fieldes">
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-label>Plant Code</mat-label>
                                            <mat-select required [(ngModel)]="plantCode" name="plantId"
                                                [errorStateMatcher]="matcher"
                                                (ngModelChange)="onChangePlantCode()"
                                                formControlName="plantCodeFormCControl">
                                                <mat-option>Select Plant</mat-option>
                                                <mat-option *ngFor="let plant of plnaCodeList" [value]="plant.id">
                                                    {{plant.value}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="addEditFormGroup?.get('plantCodeFormCControl')?.hasError('required') || addEditFormGroup?.get('plantCodeFormCControl')?.hasError('whitespace')">
                                                Plant Code is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-label>Line/ Work Center Code</mat-label>
                                            <mat-select required [(ngModel)]="lineCode" name="lineCode"
                                                [errorStateMatcher]="matcher" formControlName="LineCodeFormControl"
                                                (ngModelChange)="onChangeLineCode()"
                                                >
                                                <mat-option>Select Line/Work Center Code</mat-option>
                                                <mat-option *ngFor="let line of lineOrderList" [value]="line.id">
                                                    {{line.value}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="addEditFormGroup?.get('LineCodeFormControl')?.hasError('required') || addEditFormGroup?.get('LineCodeFormControl')?.hasError('whitespace')">
                                                Line/Work Center Code is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-label>Packing Order No.</mat-label>
                                            <mat-select required [(ngModel)]="packingOrder" [errorStateMatcher]="matcher"
                                                (ngModelChange)="GrtTableGrid($event)" name="packingOrder"
                                                formControlName="packingOrderFormControl">
                                                <mat-option >Select Packing Order</mat-option>
                                                <mat-option *ngFor="let packing of packingOrderList"
                                                    [value]="packing.id">
                                                    {{packing.value}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="addEditFormGroup?.get('packingOrderFormControl')?.hasError('required') || addEditFormGroup?.get('packingOrderFormControl')?.hasError('whitespace')">
                                                Packing Order Number is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row fieldes">
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                            <mat-label>Supplier Code</mat-label>
                                            <input matInput required name="supplierCodeFormControl"
                                                [errorStateMatcher]="matcher" [(ngModel)]='supplierCode'
                                                formControlName="supplierCodeFormControl" maxlength="16">
                                            <mat-error
                                                *ngIf="addEditFormGroup?.get('supplierCodeFormControl')?.hasError('required') || addEditFormGroup?.get('supplierCodeFormControl')?.hasError('whitespace')">
                                                Supplier Code is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                            <mat-label>Driver Code</mat-label>
                                            <input matInput required name="driverCodeFormControl"
                                                [errorStateMatcher]="matcher" [(ngModel)]='driverCode'
                                                formControlName="driverCodeFormControl" maxlength="16">
                                            <mat-error
                                                *ngIf="addEditFormGroup?.get('driverCodeFormControl')?.hasError('required') || addEditFormGroup?.get('driverCodeFormControl')?.hasError('whitespace')">
                                                Driver Code is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                            </form>
                            <br>
                            <div class="body table-responsive">
                                <table class="table table-hover table-striped table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="th-center-align">{{ "Select" | localize }}</th>
                                            <th class="th-center-align">{{ "Plant Code" | localize }}</th>
                                            <th class="th-center-align">{{ "Item Code" | localize }}</th>
                                            <th class="th-center-align">{{ "Packing Date" | localize }}</th>
                                            <th class="th-center-align">{{ "Line Code" | localize }}</th>
                                            <th class="th-center-align">{{ "Quantity" | localize }}</th>
                                            <th class="th-center-align">{{ "Pending Quantity" | localize }}</th>
                                            <th class="th-center-align">{{"Printing Quantity"}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let  picklistItem of picklistItems">

                                            <td class="td-center-align">
                                                <div *ngIf="picklistItem.plantCode != null; else rediobutton">
                                                <mat-radio-button
                                                    (change)="GetCheckBoxValue($event,picklistItem.plantCode,picklistItem.materialCode,picklistItem.quantity,picklistItem.pendingQtyToPrint,picklistItem.printingQty,picklistItem.packing_Date,picklistItem.work_Center)"
                                                    class="whiteMatSelect" [checked]="isSelected"></mat-radio-button>
                                                </div>
                                                    <ng-template #rediobutton>
                                                    </ng-template>

                                            </td>
                                            <td class="td-center-align">{{picklistItem.plantCode}}</td>
                                            <td class="td-center-align">{{picklistItem.materialCode}}</td>
                                            <td class="td-center-align">{{picklistItem.packing_Date | date:'MM/dd/yyyy'}}</td>
                                            <td class="td-center-align">{{picklistItem.work_Center}}</td>
                                            <td class="td-center-align">{{picklistItem.quantity}}</td>
                                            <td class="td-center-align">{{picklistItem.pendingQtyToPrint}}</td>
                                            <td class="fieldes">
                                                <div *ngIf="picklistItem.plantCode != null; else printingQtyTemplate">
                                                <mat-form-field [formGroup]="addEditFormGroup"
                                                    #addEditUserForm="ngForm">
                                                    <mat-label>Printing Quantity</mat-label>
                                                    <input matInput type="number" name="printingQty"
                                                        [(ngModel)]='printingQty' formControlName="printingQty"
                                                        [errorStateMatcher]="matcher" maxlength="16"
                                                        [errorStateMatcher]="matcher">
                                                    <mat-error style="display: none;"
                                                        *ngIf="addEditFormGroup?.get('printingQty')?.hasError('required') || addEditFormGroup?.get('printingQty')?.hasError('whitespace')">
                                                        Printing Quantity is required.
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <ng-template #printingQtyTemplate>
                                            </ng-template>
                                            </td>
                                        </tr>
                                        <tr *ngIf="obj?.length == 0">
                                            <td colspan="6" class="no-data-available">No data to display.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row pull-right">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary  margin-right-2px"
                                        (click)="markDirty() && addEditFormGroup.valid && Save()">
                                        Save
                                    </button>
                                    <button class="btn filter-back-button" (click)="Clear()">
                                        Clear
                                    </button>
                                    
                                </div>
                                <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>