<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ "Serial Barcode Genseration" | localize }}</h2>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse in dark-text">
                        <div class="panel-body">
                            <form novalidate autocomplete="off" [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-label>Plant Code</mat-label>
                                            <mat-select  [errorStateMatcher]="matcher"
                                                        formControlName="ddlPlantCode" name="ddlPicklist"
                                                       >
                                                <mat-option [value]=0>Select Plant Code</mat-option>
                                                <mat-option>
                                                   
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-label>Line Work Center No.</mat-label>
                                            <mat-select [(ngModel)]="selectedPicklist" [errorStateMatcher]="matcher"
                                                        formControlName="lineNoFormControl" name="lineNoFormControl"
                                                        >
                                                <mat-option [value]=0>Select Work Center No.</mat-option>
                                                <mat-option>
                                                   
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-label>Packing Order No.</mat-label>
                                            <mat-select [(ngModel)]="selectedPicklist" [errorStateMatcher]="matcher"
                                                        formControlName="packingOrderFormControl" name="packingOrderFormControl"
                                                        >
                                                <mat-option [value]=0>Select Packing Order No.</mat-option>
                                                <mat-option>
                                                   
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                            <mat-label>Supplier Code</mat-label>
                                            <input matInput required name="supplierCodeFormControl"
                                                   [(ngModel)]='fromPallet' formControlName="supplierCodeFormControl" maxlength="16" >
                                            <mat-error *ngIf="addEditFormGroup?.get('supplierCodeFormControl')?.hasError('required') || addEditFormGroup?.get('supplierCodeFormControl')?.hasError('whitespace')">
                                                Supplier Code is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                                        <mat-form-field [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                            <mat-label>Driver Code</mat-label>
                                            <input matInput required name="driverCodeFormControl"
                                                   [(ngModel)]='fromPallet' formControlName="driverCodeFormControl" maxlength="16">
                                            <mat-error *ngIf="addEditFormGroup?.get('driverCodeFormControl')?.hasError('required') || addEditFormGroup?.get('driverCodeFormControl')?.hasError('whitespace')">
                                                Driver Code is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    
                                </div>
                            </form>
                            <br>
                            <div class="body table-responsive">
                                <table id="excel-table" class="table table-hover table-striped table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="th-center-align">
                                                <mat-checkbox #checkBoxAll (change)="selectAll($event)" class="whiteMatSelct"> Select All
                                                </mat-checkbox>
                                            </th>
                                            <th class="th-center-align">{{ "Plant Code" | localize }}</th>
                                            <th class="th-center-align">{{ "Item Code" | localize }}</th>
                                            <th class="th-center-align">{{ "Quantity" | localize }}</th>
                                            <th class="th-center-align">{{ "Packing Date" | localize }}</th>
                                            <th class="th-center-align">{{ "Line Code" | localize }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let  picklistItem of picklistItems" (tap)="onSelect($event,wireDraw)">
                                            <td class="td-center-align">
                                                <mat-checkbox  #checkBox (change)="getCheckbox(checkBox)" [value]="order.outwardOrder.key">
                                                </mat-checkbox>
                                            </td>
                                            <td class="td-center-align">{{obj.id}}</td>
                                            <td class="td-center-align">{{obj.plantId}}</td>
                                            <td class="td-center-align">{{obj.qty}}</td>
                                            <td class="td-center-align">{{obj.qty}}</td>
                                            <td class="td-center-align">{{obj.qty}}</td>
                                        </tr>
                                        <tr *ngIf="obj?.length == 0">
                                            <td colspan="6" class="no-data-available">No data to display.</td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                                <!-- <mat-paginator [length]="totalData" [pageSizeOptions]=[10,25,50,100] (page)="onPageChange($event)"
                                               showFirstLastButtons></mat-paginator> -->
                            </div>
                            
                           
                            <div class="row">
                                <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                </div>
                                <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <button class="btn filter-back-button pull-right"
                                            (click)="clearallfields()">
                                        Clear
                                    </button>
                                    <button class="btn btn-primary pull-right" (click)="Save()">
                                        Gen
                                    </button>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>