<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ "Shift Master" | localize }}</h2>
                </div>
            </div>
            <form class="row clearfix row-filter-container">
               
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                    <mat-form-field class="search-container">
                        <mat-icon matPrefix>search</mat-icon>
                        <mat-label>Search</mat-label>
                        <!-- <input matInput #searchTextBox name="keyword" [(ngModel)]="keyword" value=""
                            placeholder="Search" (focus)="onFocusOfSearchBox($event)"> -->
                        <input name="first" matInput [(ngModel)]="searchTerm" placeholder="Search"
                            (keyup)="filterCountries(searchTerm)" />
                    </mat-form-field>
                </div>
            </form>
       
            <div class="body mh500 tabelScroll table-responsive" infiniteScroll [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
                [ngClass]="{'table-scroll':dataSource.filteredData?.length != 0}">
                <table class="table table-hover table-striped table-sm table-bordered">
                    <thead>
                        <tr style="font-size: medium;font-family: Arial, Helvetica, sans-serif;">
                            <th class="th-center-align">{{ "ID" | localize }}</th>
                            <th class="th-center-align">{{ "Shift Code" | localize }}</th>
                            <th class="th-center-align">{{ "Description" | localize }}</th>
                            <th class="th-center-align">{{ "Start Time" | localize }}</th>
                            <th class="th-center-align">{{ "End Time" | localize }}</th>
                            <!-- <th class="th-center-align">{{ "Active/ Inactive" | localize }}</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ShiftMaster of dataSource.filteredData" (tap)="onSelect($event,ShiftMaster)">
                            <td class="td-center-align add-wrap">{{ShiftMaster.ID}}</td>
                            <td class="td-center-align add-wrap">{{ShiftMaster.Shift_Code}}</td>
                            <td class="td-center-align add-wrap">{{ShiftMaster.Shift_Description}}</td>
                            <td class="td-center-align add-wrap">{{ShiftMaster.Shift_StartTime}}</td>
                            <td class="td-center-align add-wrap">{{ShiftMaster.Shift_EndTime}}</td>
                            <!-- <td class="td-center-align">
                                <span class="material-icons-outlined active-icon-green"
                                    *ngIf="line.active">check_circle_outline</span>
                                <span class="material-icons-outlined inactive-icon-red"
                                    *ngIf="!line.active">do_disturb_on</span>
                            </td> -->
                            <!-- <td class="td-center-align remove-td-padding">

                                <i matTooltip="View Customer" (click)="GoToViewUser(line)"
                                    class="material-icons material-icon-action"
                                   >visibility</i>
                                <i matTooltip="Delete Customer" class="material-icons material-icon-action deleteUser"
                                    (tap)="delete(line)" (click)="delete(customer)"
                                    >delete</i>
                            </td> -->
                        </tr>
                        <tr *ngIf="dataSource.filteredData?.length == 0">
                            <td colspan="8" class="no-data-available">No data to display.</td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="totalSize" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]"
                    aria-label="Select page" (page)="pageEvent = handlePage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>