<div [@routerTransition]>
    <div class="image-div-margin">
        <h1><b>Welcome to GX emPRO</b></h1>
        <!-- <a href="javascript:void(0);">
              <iframe title="Pharma_Acme - Material Receipts" width="1040" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=a504fece-eaf1-4090-a67b-f291e546f05c&autoAuth=true&ctid=483ae985-aac7-4952-81a3-687c278d43b6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLXdlc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe></a>
    -->
    </div>
</div>
