<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                    <h3 class="title" *ngIf="!isProfileView">
                        {{isOnlyView?'User Details':userId?'Edit User':'Add Sift'}}

                    </h3>
                </div>
                <div class="alignRight col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h3 class="pull-right" *ngIf="isOnlyView && !isProfileView && userId">
                        <i class="material-icons edit-icon" (click)="GoToAddEditUser(userId)">note_alt</i>
                        <button type="button" (click)="GoToAddEditUser(userId)" class="btn add-circle-button">Edit</button>
                    </h3>
                    <h3 class="pull-right" *ngIf="isOnlyView && userId && isProfileView">
                        <i class="material-icons edit-icon" (click)="GoToAddEditUser(userId)">note_alt</i>
                        <button type="button" (click)="GoToAddEditUser(userId)" class="btn add-circle-button">Edit</button>
                    </h3>
                </div>
                
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse in dark-text">
                        <div class="panel-body">

                            <div class="add_screen body mh500">
                                <form class="row  row-container" [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                    <div class="row">
                                        <div class="fieldes">
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Shift Code </mat-label>
                                                <input matInput required name="ShiftCode" 
                                                       formControlName="ShiftCode" [errorStateMatcher]="matcher"
                                                       [(ngModel)]="ShiftCode">
                                                <mat-error *ngIf="addEditFormGroup?.get('ShiftCode')?.hasError('required') || addEditFormGroup?.get('ShiftCode')?.hasError('whitespace')">
                                                    Shift Code is required.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="fieldes">
                                        <div class="col-md-4">
                                            <mat-form-field>
                                            <mat-label>Shfit Description</mat-label>
                                            <input matInput required name="ShiftDescription" 
                                                   formControlName="ShiftDescription" [errorStateMatcher]="matcher"
                                                   [(ngModel)]="ShiftDescription">
                                            <mat-error *ngIf="addEditFormGroup?.get('ShiftDescription')?.hasError('required') || addEditFormGroup?.get('ShiftDescription')?.hasError('whitespace')">
                                                Shift Description is required.
                                            </mat-error>
                                        </mat-form-field>
                                        </div>
                                    </div>
                                        <div class="fieldes">
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <mat-label>Shift Start Time</mat-label>
                                                    <input type="time" matInput required name="sShiftStartTime" 
                                                   formControlName="sShiftStartTime" [errorStateMatcher]="matcher"
                                                   [(ngModel)]="sShiftStartTime">
                                                </mat-form-field>
                                            </div>
                                        <!-- <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Shift Start Time</mat-label>
                                                <input matInput [matDatepicker]="picker2" [errorStateMatcher]="matcher"
                                                       name="sShiftStartTime"  formControlName="sShiftStartTime"  (dateChange)="onDateChangeEvent()"
                                                       [(ngModel)]="sShiftStartTime" 
                                                       (focus)="showInstallationError=false">
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
    
                                                <mat-error *ngIf="addEditFormGroup?.get('sShiftStartTime')?.hasError('matDatepickerParse')" style="margin: 17px 0;">
                                                    Shift Start Time  is not valid.
                                                </mat-error>
                                            </mat-form-field>
                                            <div *ngFor="let validationType of validationTypes" style="margin: 17px 0;">
                                                <div class="mat-error date-value-error1"
                                                     *ngIf="validationType=='frommustbeless'">
                                                     Shift Start Time must be less than Shift End Time.
                                                </div>
                                                
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="fieldes">
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Shift Start Time</mat-label>
                                                <input type="time" matInput required name="sShiftEndTime" 
                                               formControlName="sShiftEndTime" [errorStateMatcher]="matcher"
                                               [(ngModel)]="sShiftEndTime">
                                            </mat-form-field>
                                        </div>
                                        <!-- <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Shift End Time</mat-label>
                                                <input matInput [matDatepicker]="picker1" [errorStateMatcher]="matcher"
                                                       name="sShiftEndTime" formControlName="sShiftEndTime"
                                                       [(ngModel)]="sShiftEndTime" 
                                                       (focus)="showExpirationError=false">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
    
                                                <mat-error *ngIf="addEditFormGroup?.get('sShiftEndTime')?.hasError('matDatepickerParse')" style="margin: 17px 0;">
                                                    Shift End Time  is not valid.
                                                </mat-error>
                                            </mat-form-field>
                                            
                                        </div> -->
                                    </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn back-btn pull-right"
                                            (click)="goBack()"> Back</button>
                                           <button type="button" (click)="Clear()" class="btn filter-clear-button pull-right">
                                                Clear
                                            </button>
                                            <button type="button" (click)="markDirty() && addEditFormGroup.valid && Save()" class="btn btn-primary pull-right">
                                                Save
                                            </button>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>