<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ "Line/Work Center and Bin Mapping " | localize }}</h2>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse in dark-text">
                        <div class="panel-body">
                            <form novalidate autocomplete="off" [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                <div class="row fieldes">
                                    <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8">
                                        <mat-form-field [formGroup]="addEditFormGroup" #addEditUserForm="ngForm">
                                            <mat-label>Scan Bin Barcode Label</mat-label>
                                            <input matInput required name="barcode"
                                                   [(ngModel)]='barcode' formControlName="barcode" maxlength="16"  [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="addEditFormGroup?.get('barcode')?.hasError('required') || addEditFormGroup?.get('barcode')?.hasError('whitespace')">
                                                Bin Barcode Label is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8">
                                        <mat-form-field>
                                            <mat-label>Scan Line/ Work Center Barcode Label</mat-label>
                                            <input matInput required
                                                    formControlName="lineBarCode" name="lineBarCode" [(ngModel)]='lineBarCode' [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="addEditFormGroup?.get('lineBarCode')?.hasError('required') || addEditFormGroup?.get('lineBarCode')?.hasError('whitespace')">
                                                Line Barcode Label is required.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <button type="button" (click)="Clear()" class="btn filter-clear-button pull-right">
                                            Clear
                                        </button>
                                        <button type="button" class="btn btn-primary pull-right" 
                                        (click)="markDirty() && addEditFormGroup.valid && Save()" >
                                            Map
                                        </button>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>