<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ FormName }}</h2>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel-group">
                    <div class="container-fluid">
                        
                        <div class='form-group' id='accordionField'>
                            <div class='panel-group' id='accordion'>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h4 class='panel-title'>
                                            <a data-toggle='collapse' data-parent='#accordion' href='#collapse1'></a>
                                        </h4>
                                    </div>
                                    <div id='collapse1' class='panel-collapse collapse in'>
                                        <div class='panel-body sortable droppable'></div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <form [formGroup]="validateform" (ngSubmit)="ValidatedForm(validateform)" novalidate autocomplete="off">
                            <div class="row" style="margin-top:15px;">
                                <ng-container *ngFor="let x of form_fields;let i=index">

                                    <div class="{{x.grid_system[0] ? x.grid_system[0].width :  'col-md-12'}}">
                                        <!-- heading-->
                                        <div class="col-md-12 heading_list" *ngIf="(x.field_properties[0].field_type=='heading') || (x.field_properties[0].field_type=='heading_field')">
                                            <h1> <div [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</div></h1>
                                        </div>

                                        <!-- paragraph-->
                                        <div class="col-md-12 phara_list" *ngIf="(x.field_properties[0].field_type=='paragraph') || (x.field_properties[0].field_type=='paragraph_field')" [ngStyle]="x.field_properties[0].css_attribute">
                                            <p>{{x.label.DisplayName}}</p>
                                        </div>

                                        <!-- devider-->
                                        <div [ngStyle]="x.label.css_attribute" *ngIf="(x.field_properties[0].field_type=='devider' || x.field_properties[0].field_type=='divder_field')" class='form-group' id='divder_field'><p class='divder'></p></div>

                                        <!-- Text-->

                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='text')">
                                            <mat-label [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</mat-label>
                                            <input [ngStyle]="x.field_properties[0].css_attribute" matInput type="{{x.field_properties[0].field_type}}" name="{{x.label.name}}" id="{{x.label.name}}" placeholder="{{x.field_properties[0].placeholder}}" formControlName="{{x.label.name}}" readonly="{{x.generic_properties[0].read_only}}" value="{{x.generic_properties[0].autogenerated ?  randomNumber : null}}" (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null;x.generic_properties[0].unique ? uniqueCheck($event,x.label.name):null;" (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)" (blur)="this.freez ? OnBlur($event):null">
                                            <mat-autocomplete #autoProductCode="matAutocomplete" autoActiveFirstOption required>
                                                <mat-option *ngIf="isProductCodeLoading" class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isProductCodeLoading">

                                                    <mat-option *ngFor="let option of this.options" [value]="option[x.dependency_attributes.display_column]">

                                                        {{option[x.dependency_attributes.display_column]}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- file-->

                                        <div class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='file')">
                                            <label [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</label>
                                            <input [ngStyle]="x.field_properties[0].css_attribute" type="file" name="{{x.label.name}}" id="{{x.label.name}}" placeholder="{{x.field_properties[0].placeholder}}" formControlName="{{x.label.name}}" readonly="{{x.generic_properties[0].read_only}}" value="{{x.generic_properties[0].autogenerated ?  randomNumber : null}}" (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null;x.generic_properties[0].unique ? uniqueCheck($event,x.label.name):null;" (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)" (blur)="this.freez ? OnBlur($event):null">


                                        </div>


                                        <!-- search-->

                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='search')">
                                            <mat-label [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</mat-label>
                                            <input [ngStyle]="x.field_properties[0].css_attribute" id="{{x.label.name}}" matInput type="{{x.field_properties[0].field_type}}" placeholder="{{x.field_properties[0].placeholder}}" formControlName="{{x.label.name}}" (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null" (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)"
                                                   [matAutocomplete]="auto" readonly="{{x.generic_properties[0].read_only}}" (blur)="this.freez ? OnBlur($event):null">

                                            <mat-autocomplete #auto="matAutocomplete">

                                                <mat-option *ngFor="let option of this.options" [value]="option[x.dependency_attributes.display_column]" (click)="changeOption(option[x.dependency_attributes.binding_column],x.label.name)">
                                                    {{option[x.dependency_attributes.display_column]}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- select-->

                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="x.field_properties[0].field_type=='select' || x.field_properties[0].field_type=='select-one'" (click)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)">
                                            <mat-label [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</mat-label>
                                            <mat-select [ngStyle]="x.field_properties[0].css_attribute" formControlName="{{x.label.name}}" id="{{x.label.name}}" (selectionChange)="changeOption($event,x.label.name)">

                                                <mat-option *ngFor="let Soption of pusheditems[x.label.name]" [value]="x.dependency_attributes.display_column != '' ? Soption[x.dependency_attributes.display_column]: Soption">
                                                    {{x.dependency_attributes.display_column != '' ? Soption[x.dependency_attributes.display_column]: Soption}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- email-->

                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='email')">
                                            <mat-label [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</mat-label>
                                            <input [ngStyle]="x.field_properties[0].css_attribute" id="{{x.label.name}}" matInput type="{{x.field_properties[0].field_type}}" placeholder="{{x.field_properties[0].placeholder}}" formControlName="{{x.label.name}}" readonly="{{x.generic_properties[0].read_only}}" (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null" (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)" (blur)="this.freez ? OnBlur($event):null">


                                            <mat-autocomplete #autoProductCode="matAutocomplete" autoActiveFirstOption required>
                                                <mat-option *ngIf="isProductCodeLoading" class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isProductCodeLoading">

                                                    <mat-option *ngFor="let option of this.options" [value]="option[x.dependency_attributes.display_column]">

                                                        {{option[x.dependency_attributes.display_column]}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- password -->
                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='password')">
                                            <mat-label [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</mat-label>
                                            <input [ngStyle]="x.field_properties[0].css_attribute" matInput type="{{x.field_properties[0].field_type}}" name="{{x.label.name}}" id="{{x.label.name}}" placeholder="{{x.field_properties[0].placeholder}}" formControlName="{{x.label.name}}" readonly="{{x.generic_properties[0].read_only}}" value="{{x.generic_properties[0].autogenerated ?  randomNumber : null}}" (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null;x.generic_properties[0].unique ? uniqueCheck($event,x.label.name):null;" (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)" (blur)="this.freez ? OnBlur($event):null">
                                            <mat-autocomplete #autoProductCode="matAutocomplete" autoActiveFirstOption required>
                                                <mat-option *ngIf="isProductCodeLoading" class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isProductCodeLoading">

                                                    <mat-option *ngFor="let option of this.options" [value]="option[x.dependency_attributes.display_column]">

                                                        {{option[x.dependency_attributes.display_column]}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- TextArea-->

                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="x.field_properties[0].field_type=='textarea'">
                                            <mat-label [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</mat-label>
                                            <textarea [ngStyle]="x.field_properties[0].css_attribute" id="{{x.label.name}}" matInput formControlName="{{x.label.name}}" rows="1" cols="1" (blur)="this.freez ? OnBlur($event):null"></textarea>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- Date-->
                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='date')">
                                            <mat-label>{{x.label.DisplayName}}</mat-label>
                                            <input id="{{x.label.name}}" matInput [ngModel]="dt | date:'yyyy-MM-dd'" [value]="dt | date:'yyyy-MM-dd'" [min]="x.validation_properties.defaultDateMin ? dt : x.validation_properties.minDate" [max]="x.validation_properties.defaultDateMax ? dt : x.validation_properties.maxDate" type="{{x.field_properties[0].field_type}}" formControlName="{{x.label.name}}" readonly="{{x.generic_properties[0].read_only}}" (blur)="this.freez ? OnBlur($event):null">
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>


                                        <!-- time-->
                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='time')">
                                            <mat-label>{{x.label.DisplayName}}</mat-label>
                                            <input id="{{x.label.name}}" matInput [ngModel]="dt | date:'yyyy-MM-dd'" [value]="dt | date:'yyyy-MM-dd'" [min]="x.validation_properties.defaultDateMin ? dt : x.validation_properties.minDate" [max]="x.validation_properties.defaultDateMax ? dt : x.validation_properties.maxDate" type="{{x.field_properties[0].field_type}}" formControlName="{{x.label.name}}" readonly="{{x.generic_properties[0].read_only}}" (blur)="this.freez ? OnBlur($event):null">
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- Month -->
                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='month')">
                                            <mat-label>{{x.label.DisplayName}}</mat-label>
                                            <input id="{{x.label.name}}" matInput [ngModel]="dt | date:'yyyy-MM-dd'" [value]="dt | date:'yyyy-MM-dd'" type="{{x.field_properties[0].field_type}}" formControlName="{{x.label.name}}" readonly="{{x.generic_properties[0].read_only}}" (blur)="this.freez ? OnBlur($event):null">
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>


                                        <!-- Number-->

                                        <mat-form-field class="example-full-width" appearance="outline" *ngIf="(x.field_properties[0].field_type=='number')">
                                            <mat-label [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</mat-label>
                                            <input [ngStyle]="x.field_properties[0].css_attribute" name="{{x.label.name}}" id="{{x.label.name}}" value="{{x.generic_properties[0].autogenerated ?  randomNumber : null}}" matInput type="{{x.field_properties[0].field_type}}" placeholder="{{x.field_properties[0].placeholder}}" formControlName="{{x.label.name}}" readonly="{{x.generic_properties[0].read_only}}" (focusout)="validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties)" (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)" (blur)="this.freez ? OnBlur($event):null">


                                            <mat-autocomplete #autoProductCode="matAutocomplete" autoActiveFirstOption required>
                                                <mat-option *ngIf="isProductCodeLoading" class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isProductCodeLoading">

                                                    <mat-option *ngFor="let option of this.options" [value]="option.Id">

                                                        {{option[x.dependency_attributes.display_column]}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>



                                        <!-- Range -->
                                        <mat-card *ngIf="x.field_properties[0].field_type=='range'">
                                            <mat-card-content>
                                                <div> {{x.label.name}}</div>

                                                <mat-slider id="{{x.label.name}}" class="example-margin"
                                                            min="{{x.validation_properties.Validators_minLength}}"
                                                            max="{{x.validation_properties.Validators_maxLength}}"
                                                            step="5"
                                                            thumbLabel="true"
                                                            tickInterval="true" [value]="rangeVal" style="width:80%">
                                                </mat-slider>
                                            </mat-card-content>
                                        </mat-card>

                                        <!-- radio-->

                                        <div *ngIf="x.field_properties[0].field_type=='radio'">
                                            <label id="example-radio-group-label">
                                                {{x.label.name}}
                                            </label>
                                            <mat-radio-group aria-labelledby="example-radio-group-label" required formControlName="{{x.label.name}}">
                                                <br />
                                                <mat-radio-button [value]="op" *ngFor="let op of x.dependency_attributes.options">
                                                    {{op}} <br />
                                                </mat-radio-button>
                                            </mat-radio-group>


                                        </div>

                                        <!-- checkbox -->

                                        <div *ngIf="x.field_properties[0].field_type=='checkbox'">
                                            <label id="example-radio-group-label">
                                                {{x.label.name}}
                                            </label>
                                            <br />
                                            <mat-checkbox formControlName="{{x.label.name}}" name="{{x.label.name}}[]" [value]="chk" *ngFor="let chk of x.dependency_attributes.options">
                                                {{chk}}
                                            </mat-checkbox>

                                        </div>



                                        <!--  data- Table-->

                                        <div *ngIf="x.field_properties[0].field_type=='table'">
                                            <div (click)="GetDataTableValue($event,x.dependency_attributes.db_table,x.dependency_attributes.fetch_columns,null)"> </div>
                                            <table *ngIf=" value && value.length > 0" #reportTable id="excel-table" class="reportTable table table-hover table-striped table-sm table-bordered">

                                                <thead>
                                                    <tr>
                                                        <ng-container *ngFor="let head of keys">
                                                            <th [class]="head">{{head | titlecase }}</th>
                                                        </ng-container>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr *ngFor="let heads of value;let i = index">

                                                        <ng-container *ngFor="let column of keys">

                                                            <td [class]="column">{{heads[column]}}</td>
                                                        </ng-container>


                                                    </tr>
                                                </tbody>
                                            </table>


                                        </div>

                                        <!-- Submit-->

                                        <div class="row" *ngIf="x.field_properties[0].field_type=='button' || x.field_properties[0].field_type=='submit'">
                                            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            </div>
                                            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                                <button class="btn btn-primary approve-reject-button pull-right" color="primary">{{x.label.name}}</button>
                                            </div>
                                        </div>


                                        <div class="row" *ngIf="x.field_properties[0].field_type=='reset'">
                                            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            </div>
                                            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                                <input class="btn btn-primary approve-reject-button pull-right" (click)="reset()" color="primary" type="reset">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid rkadde-block">
    <div class="">
        <mat-form-field class="example-full-width">
            <mat-label>Remark</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <div class="approval-button">
            <input type="button" value="Approved" class="btn " (click)="GoToApproveLog()">
            <input type="button" value="Disapprove" class="btn btn-primary" (click)="GoToDisapproveLog()">
        </div>
    </div>
</div>



