<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="row user-component-content row-filter-container">
                <div class="col-12">
                    <h2 class="title">{{ FormName }}</h2>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel-group">
                    <div class="container-fluid">
                        <form [formGroup]="validateform" (ngSubmit)="ValidatedForm(validateform)" novalidate
                            autocomplete="off" class="createFormWrapper">
                            <div class="row fieldes" style="margin-top:15px;">
                                <ng-container *ngFor="let x of form_fields;let i=index">

                                    <div *ngIf="x.field_properties[0].field_type!='button'"
                                        class="{{x.grid_system[0] ? x.grid_system[0].width :  'col-md-12'}}">
                                        <!-- heading-->
                                        <div class="col-md-12 heading_list"
                                            *ngIf="(x.field_properties[0].field_type=='heading') || (x.field_properties[0].field_type=='heading_field')">
                                            <h1>
                                                <div [ngStyle]="x.label.css_attribute">{{x.label.DisplayName}}</div>
                                            </h1>
                                        </div>

                                        <!-- paragraph-->
                                        <div class="col-md-12 phara_list"
                                            *ngIf="(x.field_properties[0].field_type=='paragraph') || (x.field_properties[0].field_type=='paragraph_field')"
                                            [ngStyle]="x.field_properties[0].css_attribute">
                                            <p>{{x.label.DisplayName}}</p>
                                        </div>

                                        <!-- devider-->
                                        <div [ngStyle]="x.label.css_attribute"
                                            *ngIf="(x.field_properties[0].field_type=='devider' || x.field_properties[0].field_type=='divder_field')"
                                            class='form-group' id='divder_field'>
                                            <p class='divder'></p>
                                        </div>
                                        <!-- line_break-->
                                        <div [ngStyle]="x.label.css_attribute"
                                            *ngIf="(x.field_properties[0].field_type=='line_break')" class='form-group'
                                            id='line_break'>
                                            <p class='linebrake'></p>
                                        </div>

                                        <!-- Text-->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='text')">
                                            <mat-label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>

                                            <input [ngStyle]="x.field_properties[0].css_attribute"
                                                [matAutocomplete]="autoProductCode" matInput
                                                type="{{x.field_properties[0].field_type}}" name="{{x.label.name}}"
                                                id="{{x.label.name}}"
                                                placeholder="{{x.field_properties[0].placeholder}}"
                                                formControlName="{{x.label.name}}"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                value="{{x.generic_properties[0].autogenerated ?  randomNumber : null}}"
                                                (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null;x.generic_properties[0].unique ? uniqueCheck($event,x.label.name):null;x.dependency_attributes.perform_action ? performaction(x.dependency_attributes,x.label.name):null;x.dependency_attributes.staticGrid ? addStaticItem($event,x.label.name,x.dependency_attributes):null;changeOption($event,x.label.name,null,x.dependency_attributes,x.label.name);"
                                                (focusout)="showErrowMsg($event,x.label.name,x.field_properties,x.validation_properties)"
                                                (blur)="this.freez ? OnBlur($event):null">
                                            <mat-autocomplete #autoProductCode="matAutocomplete" autoActiveFirstOption
                                                required>
                                                <mat-option *ngIf="isProductCodeLoading"
                                                    class="is-loading">Loading...</mat-option>
                                                <!-- <ng-container *ngIf="!isProductCodeLoading"> -->

                                                <mat-option *ngFor="let option of this.options[x.label.name]"
                                                    [value]="option[x.dependency_attributes.display_column]">

                                                    {{option[x.dependency_attributes.display_column]}}
                                                </mat-option>
                                                <!-- </ng-container> -->
                                            </mat-autocomplete>
                                            <mat-error [class]="x.label.name"
                                                *ngIf="(x.generic_properties[0].required)">
                                                {{x.label.DisplayName}} is
                                                required
                                            </mat-error>
                                            <mat-error [class]="x.label.name+'s'"
                                                *ngIf="(x.validation_properties.RegExp == '^[0-9]*$') ">
                                                Enter only number
                                            </mat-error>
                                            <mat-error [class]="x.label.name+'s'"
                                                *ngIf="(x.validation_properties.RegExp == '[a-zA-Z][a-zA-Z ]+') ">
                                                Enter
                                                only character
                                            </mat-error>
                                            <mat-error [class]="x.label.name+'s'"
                                                *ngIf="(x.validation_properties.RegExp == '^[a-zA-Z]+$') ">
                                                Enter only
                                                alphabets
                                            </mat-error>
                                        </mat-form-field>

                                        <!-- file-->
                                        <div class="example-full-width typecheckbox" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='file')">
                                            <label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </label>
                                            <input ngModel [ngStyle]="x.field_properties[0].css_attribute" type="file"
                                                name="{{x.label.name}}" id="{{x.label.name}}"
                                                placeholder="{{x.field_properties[0].placeholder}}"
                                                formControlName="{{x.label.name}}"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                value="{{x.generic_properties[0].autogenerated ?  randomNumber : null}}"
                                                (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null;x.generic_properties[0].unique ? uniqueCheck($event,x.label.name):null;"
                                                (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)"
                                                (blur)="this.freez ? OnBlur($event):null">


                                        </div>

                                        <!-- file-->
                                        <div class="example-full-width typecheckbox" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='DataRead')">
                                            <label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </label>
                                            <!--
            <input ngModel [ngStyle]="x.field_properties[0].css_attribute" type="file"
                   name="{{x.label.name}}" id="{{x.label.name}}"
                   placeholder="{{x.field_properties[0].placeholder}}"
                   formControlName="{{x.label.name}}"
                   readonly="{{x.generic_properties[0].read_only}}"

                   (blur)="this.freez ? OnBlur($event):null">-->
                                            <input type="file"
                                                (change)="onFileChange($event,x.label.name,x.dependency_attributes)" />

                                            <div id="output"></div>
                                            <br>
                                        </div>


                                        <!-- search-->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='search')">
                                            <mat-label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <input ngModel [ngStyle]="x.field_properties[0].css_attribute"
                                                id="{{x.label.name}}" matInput
                                                type="{{x.field_properties[0].field_type}}"
                                                placeholder="{{x.field_properties[0].placeholder}}"
                                                formControlName="{{x.label.name}}"
                                                (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null;changeOption($event,x.label.name,null,x.dependency_attributes,x.label.name);"
                                                (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)"
                                                [matAutocomplete]="auto"
                                                (focusout)="showErrowMsg($event,x.label.name,x.field_properties,x.validation_properties)"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                (blur)="this.freez ? OnBlur($event):null">

                                            <mat-autocomplete #auto="matAutocomplete">

                                                <mat-option *ngFor="let option of this.options[x.label.name]"
                                                    [value]="option[x.dependency_attributes.display_column]"
                                                    (click)="changeOption(option[x.dependency_attributes.binding_column],x.label.name,null,null,x.label.name)">
                                                    {{option[x.dependency_attributes.display_column]}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error class="{{x.label.name.replaceAll(' ', '_')}}"
                                                *ngIf="(x.generic_properties[0].required)">
                                                {{x.label.DisplayName}} is
                                                required
                                            </mat-error>
                                            <mat-error *ngIf="(x.validation_properties.RegExp == '^[0-9]*$') ">
                                                Enter only
                                                number
                                            </mat-error>
                                            <mat-error
                                                *ngIf="(x.validation_properties.RegExp == '[a-zA-Z][a-zA-Z ]+') ">
                                                Enter
                                                only character
                                            </mat-error>
                                            <mat-error *ngIf="(x.validation_properties.RegExp == '^[a-zA-Z]+$') ">
                                                Enter only
                                                alphabets
                                            </mat-error>
                                        </mat-form-field>

                                        <!-- select-->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="x.field_properties[0].field_type=='select' || x.field_properties[0].field_type=='select-one'"
                                            (click)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)">
                                            <mat-label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <mat-select [ngStyle]="x.field_properties[0].css_attribute"
                                                formControlName="{{x.label.name}}" id="{{x.label.name}}"
                                                (selectionChange)="changeOption($event,x.label.name,null,x.dependency_attributes,x.label.name)">
                                                <!-- <mat-option *ngFor="let Selectoption of x.dependency_attributes.options">{{Selectoption}}</mat-option> -->
                                                <mat-option *ngFor="let Soption of pusheditems[x.label.name]"
                                                    [value]="x.dependency_attributes.display_column != '' ? Soption[x.dependency_attributes.display_column]: Soption">
                                                    {{
                                                    x.dependency_attributes.display_column != '' ?
                                                    Soption[x.dependency_attributes.display_column]: Soption
                                                    }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                {{x.label.DisplayName}} is required or select valid
                                                data
                                            </mat-error>
                                        </mat-form-field>

                                        <!-- email-->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='email')">
                                            <mat-label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <input ngModel [ngStyle]="x.field_properties[0].css_attribute"
                                                id="{{x.label.name}}" matInput
                                                type="{{x.field_properties[0].field_type}}"
                                                placeholder="{{x.field_properties[0].placeholder}}"
                                                formControlName="{{x.label.name}}"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null"
                                                (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)"
                                                (blur)="this.freez ? OnBlur($event):null">


                                            <mat-autocomplete #autoProductCode="matAutocomplete" autoActiveFirstOption
                                                required>
                                                <mat-option *ngIf="isProductCodeLoading"
                                                    class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isProductCodeLoading">

                                                    <mat-option *ngFor="let option of this.options[x.label.name]"
                                                        [value]="option[x.dependency_attributes.display_column]">

                                                        {{option[x.dependency_attributes.display_column]}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- password -->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='password')">
                                            <mat-label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <input ngModel [ngStyle]="x.field_properties[0].css_attribute" matInput
                                                type="{{x.field_properties[0].field_type}}" name="{{x.label.name}}"
                                                id="{{x.label.name}}"
                                                placeholder="{{x.field_properties[0].placeholder}}"
                                                formControlName="{{x.label.name}}"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                value="{{x.generic_properties[0].autogenerated ?  randomNumber : null}}"
                                                (focusout)="x.dependency_attributes.dependent ? validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties):null;x.generic_properties[0].unique ? uniqueCheck($event,x.label.name):null;"
                                                (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)"
                                                (blur)="this.freez ? OnBlur($event):null">
                                            <mat-autocomplete #autoProductCode="matAutocomplete" autoActiveFirstOption
                                                required>
                                                <mat-option *ngIf="isProductCodeLoading"
                                                    class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isProductCodeLoading">

                                                    <mat-option *ngFor="let option of this.options[x.label.name]"
                                                        [value]="option[x.dependency_attributes.display_column]">

                                                        {{option[x.dependency_attributes.display_column]}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- TextArea-->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="x.field_properties[0].field_type=='textarea'">
                                            <mat-label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <textarea ngModel [ngStyle]="x.field_properties[0].css_attribute"
                                                id="{{x.label.name}}" matInput formControlName="{{x.label.name}}"
                                                rows="1" cols="1" (blur)="this.freez ? OnBlur($event):null"></textarea>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- Date-->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='date')">
                                            <mat-label>
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <input ngModel id="{{x.label.name}}" matInput
                                                [ngModel]="dt | date:'yyyy-MM-dd'" [value]="dt | date:'yyyy-MM-dd'"
                                                [min]="x.validation_properties.defaultDateMin ? dt : x.validation_properties.minDate"
                                                [max]="x.validation_properties.defaultDateMax ? dt : x.validation_properties.maxDate"
                                                type="{{x.field_properties[0].field_type}}"
                                                formControlName="{{x.label.name}}"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                (blur)="this.freez ? OnBlur($event):null">
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- time-->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='time')">
                                            <mat-label>
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <input ngModel id="{{x.label.name}}" matInput
                                                [ngModel]="dt | date:'yyyy-MM-dd'" [value]="dt | date:'yyyy-MM-dd'"
                                                [min]="x.validation_properties.defaultDateMin ? dt : x.validation_properties.minDate"
                                                [max]="x.validation_properties.defaultDateMax ? dt : x.validation_properties.maxDate"
                                                type="{{x.field_properties[0].field_type}}"
                                                formControlName="{{x.label.name}}"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                (blur)="this.freez ? OnBlur($event):null">
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- Month -->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='month')">
                                            <mat-label>
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <input ngModel id="{{x.label.name}}" matInput
                                                [ngModel]="dt | date:'yyyy-MM-dd'" [value]="dt | date:'yyyy-MM-dd'"
                                                type="{{x.field_properties[0].field_type}}"
                                                formControlName="{{x.label.name}}"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                (blur)="this.freez ? OnBlur($event):null">
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- Number-->
                                        <mat-form-field class="example-full-width" appearance="outline"
                                            *ngIf="(x.field_properties[0].field_type=='number')">
                                            <mat-label [ngStyle]="x.label.css_attribute">
                                                {{x.label.DisplayName}} <span class="required"
                                                    *ngIf="(x.generic_properties[0].required)">*</span>
                                            </mat-label>
                                            <input ngModel [ngStyle]="x.field_properties[0].css_attribute"
                                                name="{{x.label.name}}" id="{{x.label.name}}"
                                                value="{{x.generic_properties[0].autogenerated ?  randomNumber : null}}"
                                                matInput type="{{x.field_properties[0].field_type}}"
                                                placeholder="{{x.field_properties[0].placeholder}}"
                                                formControlName="{{x.label.name}}"
                                                readonly="{{x.generic_properties[0].read_only}}"
                                                (focusout)="validateValue(x.label.name,$event.target.value,x.dependency_attributes,x.validation_properties)"
                                                (keyup)="SearchPartialVal($event,x.dependency_attributes,x.label.name,x.field_properties)"
                                                (blur)="this.freez ? OnBlur($event):null">


                                            <mat-autocomplete #autoProductCode="matAutocomplete" autoActiveFirstOption
                                                required>
                                                <mat-option *ngIf="isProductCodeLoading"
                                                    class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isProductCodeLoading">

                                                    <mat-option *ngFor="let option of this.options[x.label.name]"
                                                        [value]="option.Id">

                                                        {{option[x.dependency_attributes.display_column]}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            <mat-error>{{x.label.DisplayName}} is required</mat-error>
                                        </mat-form-field>

                                        <!-- Scan Counter-->
                                        <div class="scan_counter_wrapper"
                                            *ngIf="(x.field_properties[0].field_type=='scan_counter')">
                                            <div class="scan_counter_block">
                                                <label>{{x.label.DisplayName}}</label>
                                                <p>{{scanCountValues[x.field_properties[0].scanMap]}}</p>
                                            </div>
                                        </div>
                                        <!-- Range -->
                                        <mat-card *ngIf="x.field_properties[0].field_type=='range'"
                                            class="mat-elevation-z">

                                            <div> {{x.label.name}}</div>

                                            <mat-slider id="{{x.label.name}}" class="example-margin"
                                                min="{{x.validation_properties.Validators_minLength}}"
                                                max="{{x.validation_properties.Validators_maxLength}}" step="5"
                                                thumbLabel="true" tickInterval="true" [value]="rangeVal"
                                                style="width:80%">
                                            </mat-slider>

                                        </mat-card>

                                        <!-- radio-->
                                        <div *ngIf="x.field_properties[0].field_type=='radio'" class="typeradio">
                                            <label id="example-radio-group-label">
                                                {{x.label.name}}
                                            </label>
                                            <mat-radio-group aria-labelledby="example-radio-group-label" required
                                                formControlName="{{x.label.name}}">
                                                <br />
                                                <mat-radio-button [value]="op.value"
                                                    *ngFor="let op of x.dependency_attributes.options">
                                                    {{op.diaplay}} <br />
                                                </mat-radio-button>
                                            </mat-radio-group>


                                        </div>

                                        <!-- checkbox -->
                                        <!-- <div *ngIf="x.field_properties[0].field_type=='checkbox'" class="typecheckbox">
            <label id="example-radio-group-label">
                {{x.label.name}}
            </label>
            <mat-checkbox ngModel formControlName="{{x.label.name}}"
                name="{{x.label.name}}[]" [value]="chk"
                *ngFor="let chk of x.dependency_attributes.options">
                {{chk}}
            </mat-checkbox>
        </div> -->
                                        <!-- checkbox -->
                                        <div *ngIf="x.field_properties[0].field_type=='checkbox'" class="typecheckbox">
                                            <label id="example-radio-group-label">
                                                {{x.label.DisplayName}}
                                            </label>
                                            <!-- [checked]="x.label.value!='' ? x.label.value:false" -->
                                            <mat-checkbox [checked]="x.label.value" ngModel
                                                formControlName="{{x.label.name}}" name="{{x.label.name}}[]"
                                                [value]="chk" *ngFor="let chk of x.dependency_attributes.options">
                                                {{chk}}
                                            </mat-checkbox>
                                        </div>

                                        <!-- Button -->
                                        <!-- button orignal
            <div class="row typecheckbox"
            *ngIf="(x.field_properties[0].field_type=='button' || x.field_properties[0].field_type=='submit')">
            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
            </div>
            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <button class="btn btn-primary approve-reject-button pull-right"
                    color="primary">{{x.label.name}}</button>
            </div>
        </div> -->
                                        <!-- <div class="typecheckbox typebutton"
            *ngIf="(x.field_properties[0].field_type=='button' || x.field_properties[0].field_type=='submit')">
            <button class="btn btn-primary approve-reject-button pull-right"
                color="primary">{{x.label.name}}</button>
        </div> -->
                                        <!-- <div class="row" *ngIf="x.field_properties[0].field_type=='reset' ">
            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
            </div>
            <div class="col-md-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <input ngModel class="btn btn-primary approve-reject-button pull-right"
                    (click)="reset()" color="primary" type="reset">
            </div>
        </div> -->
                                    </div>

                                    <div class="float-right" [ngStyle]="x.field_properties[0].css_attribute"
                                        [id]="x.label.name"
                                        *ngIf="(x.field_properties[0].field_type=='button' || x.field_properties[0].field_type=='submit')">
                                        <button class="btn btn-primary approve-reject-button pull-right"
                                            (click)="x.dependency_attributes.perform_action ? performaction(x.dependency_attributes,x.label.name):null"
                                            color="primary">
                                            {{x.label.name}}
                                        </button>

                                    </div>

                                    <div class="float-right" *ngIf="x.field_properties[0].field_type=='reset'"
                                        [id]="x.label.name" [ngStyle]="x.field_properties[0].css_attribute">
                                        <input class="btn btn-primary approve-reject-button pull-right"
                                            (click)="reset()" color="primary" type="reset">
                                    </div>
                                    <div class="float-right" *ngIf="x.field_properties[0].field_type=='back'"
                                        [id]="x.label.name" [ngStyle]="x.field_properties[0].css_attribute">
                                        <div class="btn btn-primary approve-reject-button pull-right"
                                            onclick="history.back()">{{x.label.name}}</div>
                                    </div>
                                    <div class="float-right" *ngIf="x.field_properties[0].field_type=='print'">
                                        <!-- <div *ngIf="x.generic_properties[0].showon_add" [ngStyle]="x.field_properties[0].css_attribute"
                                            class="btn btn-primary approve-reject-button pull-right"
                                            (click)="x.dependency_attributes.perform_action ? performaction(x.dependency_attributes,x.label.name):null;x.dependency_attributes.staticGrid ? addStaticItem($event,x.label.name,x.dependency_attributes):null;">
                                            {{x.label.DisplayName}}
                                        </div> -->
                                        <div  [ngStyle]="x.field_properties[0].css_attribute"
                                        class="btn btn-primary approve-reject-button pull-right"
                                        (click)="x.dependency_attributes.perform_action ? performaction(x.dependency_attributes,x.label.name):null;x.dependency_attributes.staticGrid ? addStaticItem($event,x.label.name,x.dependency_attributes):null;">
                                        {{x.label.DisplayName}}
                                    </div>
                                    </div>

                                    <div class="float-right" *ngIf="x.field_properties[0].field_type=='customButton'"
                                        [ngStyle]="x.field_properties[0].css_attribute" [id]="x.label.name">
                                        <div class="btn btn-primary approve-reject-button pull-right"
                                            (click)="x.dependency_attributes.perform_action ? performaction(x.dependency_attributes,x.label.name):null;x.dependency_attributes.staticGrid ? addStaticItem($event,x.label.name,x.dependency_attributes):null;">
                                            {{x.label.DisplayName}}
                                        </div>
                                    </div>
                                    <!--   Display table for data on change-->

                                    <div class="tabelScroll col-md-12"
                                        *ngIf="x.dependency_attributes.changeAction != null && x.dependency_attributes.changeAction.type == 'DISPLAY'">
                                        <ng-container *ngIf="x.dependency_attributes.changeAction.type == 'DISPLAY'"
                                            style="overflow-x: scroll;">
                                            <!-- (scrolled)="onScroll()" [scrollWindow]="false" [ngClass]="{'table-scroll':roles?.length != 0}" -->
                                            <table *ngIf="value" #reportTable id="excel-table"
                                                class="reportTable table table-hover table-striped table-sm table-bordered fdfdfd">
                                                <!-- [busy]="isTableLoading" -->
                                                <thead>
                                                    <tr>
                                                   <!--     <th >
                                                            <input class="checkboxAll2" type="checkbox" name="chk"
                                                                value="" id="selectAll"
                                                                (change)="toggleAllSelection($event)"> Select All
                                                        </th>-->
                                                        <ng-container *ngFor="let head of keys[x.label.name]">
                                                            <th *ngIf="columnsHidden.indexOf(head) < 0" [class]="head">
                                                                {{head.replaceAll('_', ' ') | titlecase }}
                                                            </th>
                                                        </ng-container>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let heads of value[x.label.name];let i = index">
                                                    <!--    <th>
                                                            <input class="radioAll" [id]="heads.id" type="radio"
                                                                name="chk" value="Angry"
                                                                (change)="checkUncheck($event)">
                                                            <input class="checkboxAll" [id]="heads.id" type="checkbox"
                                                                name="chk" value="Angry"
                                                                (change)="checkUncheck($event)">
                                                        </th>-->
                                                        <ng-container *ngFor="let column of keys[x.label.name]">
                                                            <td>
                                                                {{heads[column]}}
                                                            </td>
                                                        </ng-container>


                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </div>

                                    <!-- multiple table creation display-->
                                    <div class="tabelScroll col-md-12" *ngIf="x.dependency_attributes.displayTable && value">

                                        <ng-container style="overflow-x: scroll;">
                                            <table *ngIf="value" #reportTable id="excel-table"
                                                class="reportTable table table-hover table-striped table-sm table-bordered">

                                                <thead>
                                                    <tr>
                                                       
                                                        <ng-container *ngFor="let head of keys[x.label.name]">
                                                            <th *ngIf="columnsHidden.indexOf(head) < 0" [class]="head">
                                                                {{head.replaceAll('_', ' ') | titlecase }}
                                                            </th>
                                                        </ng-container>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let heads of value[x.label.name];let i = index">
                                                       
                                                        <ng-container *ngFor="let column of keys[x.label.name]">
                                                            <td>
                                                                {{heads[column]}}
                                                            </td>
                                                        </ng-container>


                                                    </tr>
                                                </tbody>


                                            </table>
                                        </ng-container>
                                    </div>

                                    <!-- Display table for multiview data-->

                                    <div class="tabelScroll col-md-12" *ngIf="x.dependency_attributes.displayTable">

                                        <ng-container style="overflow-x: scroll;"
                                            *ngIf="x.dependency_attributes.changeAction != null">

                                            <ng-container
                                                *ngFor="let multiheads of x.dependency_attributes.changeAction.displayArray">

                                                <!-- (scrolled)="onScroll()" [scrollWindow]="false" [ngClass]="{'table-scroll':roles?.length != 0}" -->
                                                <table *ngIf="this.multiValues" #reportTable id="excel-table"
                                                    class="reportTable table table-hover table-striped table-sm table-bordered table-bordered">
                                                    <!-- [busy]="isTableLoading" -->
                                                    <thead>
                                                        <tr>

                                                            <th *ngIf="showInfo"></th>
                                                            <ng-container *ngFor="let head of this.multiKeys[multiheads]">

                                                                <th *ngIf="columnsHidden.indexOf(head) < 0"
                                                                    [class]="head">
                                                                    {{
                                                                    head.replaceAll('_', ' ') |
                                                                    titlecase
                                                                    }}
                                                                </th>
                                                            </ng-container>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngFor="let heads of this.multiValues[multiheads];let i = index">
                                                            <td *ngIf="showInfo">
                                                                <input class="radioAll"  type="radio" name="chk" value="" (change)="getAdditionalData($event,x.label.name,x.dependency_attributes,i)" />
                                                            </td>
                                                            <ng-container *ngFor="let column of this.multiKeys[multiheads]">

                                                                <td>
                                                                    {{heads[column]}}
                                                                </td>
                                                            </ng-container>


                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </ng-container>
                                        </ng-container>
                                    </div>


                                    <!-- CustomData Grid -->
                                    <div class="tabelScroll col-md-12" *ngIf="x.dependency_attributes.staticGrid">


                                        <ng-container style="overflow-x: scroll;">
                                            <table *ngIf="staticvalue" #reportTable id="excel-table"
                                                class="reportTable table table-hover table-striped table-sm table-bordered">

                                                <thead>
                                                    <tr>
                                                        <ng-container
                                                            *ngFor="let statichead of statickeys[x.label.name]">
                                                            <th *ngIf="columnsHidden.indexOf(statichead) < 0"
                                                                [class]="statichead">
                                                                {{statichead.replaceAll('_', ' ') | titlecase }}
                                                            </th>
                                                        </ng-container>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let staticheads of staticvalue[x.label.name];let i = index">

                                                        <ng-container
                                                            *ngFor="let staticcolumn of statickeys[x.label.name]">
                                                            <td>
                                                                {{staticheads[staticcolumn]}}
                                                            </td>
                                                        </ng-container>


                                                    </tr>
                                                </tbody>


                                            </table>
                                        </ng-container>

                                    </div>

                                    <!-- Table Form Component-->
                                    <!--<div class="tabelScroll col-md-12" *ngIf="(x.field_properties[0].field_type=='table')">
                                        <table id="rr">
                                            <ng-container>
                                                <th *ngFor="let thData of x.field_properties[0].header" style="border: 1px solid black;" colspan="7">
                                                    {{thData.header_text}}
                                                </th>
                                            </ng-container>
                                            <ng-container *ngFor="let tdData of x.field_properties[0].table_fields">
                                                <ng-container style="border: 1px solid black;" *ngIf="tdData.td_type == 'Binding'" id="binddata">-->
                                    <!-- <div>
                    <style scoped="scoped" onload="GetDataTableValue(null,tdData.db_table,tdData.fetch_columns,null)" >   </style> -->
                                    <!--<button type="button" id="btntablebind" name="btntablebind" (click)="GetDataTableValue(null,tdData.db_table,'Check_Point,Id',null)"> </button>

                                                    <tr *ngFor="let obj of keys ;let i = index">

                                                        <ng-container *ngFor="let td_data of tdData.td_data; index as j">

                                                            <td *ngIf="td_data.inputType=='SN'" style="border: 1px solid black;">

                                                                {{i+1}}
                                                            </td>
                                                            <td *ngIf="td_data.inputType=='bind'" style="border: 1px solid black;">
                                                                <ng-container *ngFor="let key of getObjectKeys(obj)">
                                                                    <ng-container *ngIf="key==td_data.display_column">
                                                                        {{ obj[key] }}
                                                                    </ng-container>
                                                                </ng-container>
                                                            </td>
                                                            <td *ngIf="td_data.inputType=='text'|| td_data.inputType == 'bind'" style="border: 1px solid black;">
                                                                <ng-container *ngFor="let v of td_data.bind_td_value; let n = index">
                                                                    <ng-container *ngIf="v[i]==undefined">
                                                                        <input [name]="td_data.td_name" type="text" style="width:50%" />
                                                                    </ng-container>
                                                                    <ng-container *ngIf="v[i]!=undefined">
                                                                        <input [name]="td_data.td_name" type="text" [value]="v[i]" style="width:50%" />
                                                                    </ng-container>
                                                                </ng-container>
                                                            </td>-->
                                    <!-- <td *ngIf="td_data.inputType=='text'" style="border: 1px solid black;">
                                 <input [name]="tdData.bind_td_name" type="text"  style="width:50%" />
                            </td> -->

                                    <!--</ng-container>
                                                    </tr>-->
                                    <!-- </div> -->

                                    <!--</ng-container>
                                                <tr *ngIf="tdData.td_type != 'Binding'" style="border: 1px solid black;">

                                                    <td *ngFor="let tData of tdData.td_data" style="border: 1px solid black;">
                                                        <span style="font-size:smaller"> {{tData.td_text}}   </span>
                                                        <ng-container *ngIf="tData.inputType == 'text'">
                                                            <input [name]="tData.td_name" type="text" [value]="tData.td_value" style="width:50%" />
                                                        </ng-container>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </table>
                                    </div>-->

                                </ng-container>
                            </div>
                        </form>
                        <!-- <div class="float-right text-right" style="margin: 10px 0;">
                            <button class="btn" onclick="history.back()">Go Back</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
   <div (click)="openModal()">Open Modal</div>

    <div class="modal fade" id="popComponent" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
            </div>

        </div>
    </div>

</div> -->